:root {
  --main-logo-color: #2196f3;
  --second-logo-color: #000000;
  --thirdlogo-color: #ffffff;
  --header-text-color-first: #212121;
  --header-text-color-second: #757575;
  --header-text-color-third: #2196f3;
  --main-text-color: #212121;
  --second-text-color: #757575;
  --third-text-color: #ffffff;
  --footer-color-contact1: #ffffff;
  --footer-color-contact2: rgba(255, 255, 255, 0.6);
  --main-btn-color: #f5f4fa;
  --second-btn-color: #2196f3;
  --third-btn-color: #188ce8;
  --background-color: #2f303a;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--main-text-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  width: 1600;
  padding-left: 215px;
  padding-right: 215px;
  margin: 0;
}

/*------------------------------------------------------------- header----------------------------------------------------------------- */

.header {
  background-color: #ffffff;
}

.header-container {
  display: flex;
  align-items: center;
  height: 80px;
}

.mainlogo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-logo-color);
  margin-right: 70px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.mainlogo-second {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--second-logo-color);
}

.mainlogo-third {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--thirdlogo-color);
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-list {
  width: 300px;
  height: 20px;
  align-items: center;
  display: flex;
}

.header-item:not(:last-child) {
  margin-right: 50px;
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-text-color-first);
  padding-top: 30px;
  padding-bottom: 30px;
}

.header-link:hover {
  color: var(--header-text-color-third);
}

.contacts-list {
  display: flex;
  margin-left: auto;
}

.contact-item:not(:last-child) {
  margin-right: 50px;
}

.contact-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-text-color-second);
  padding-top: 30px;
  padding-bottom: 30px;
}

.contact-link:hover {
  color: var(--header-text-color-third);
}
/*------------------ header------------------- */

/*-------------------------------------------------------------- main-------------------------------------------------------------- */
.main {
  background-color: #ffffff;
}
/* index.html */
.hero-section {
  background-color: var(--background-color);
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--third-text-color);
  margin-bottom: 40px;
}

.hero-button {
  min-width: 200px;
  min-height: 50px;
  border: 0;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--third-text-color);
  background-color: var(--second-btn-color);
  cursor: pointer;
}

.hero-button:hover {
  background-color: var(--third-btn-color);
}

.section-a {
  padding-top: 100px;
  padding-bottom: 100px;
}

.section-a-list {
}

.section-a-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-text-color);
}

.section-a-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

.section-b-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.section-c {
  background-color: #f5f4fa;
}

.section-c-main-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.section-c-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.section-c-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}
/*--------------------------------------------------------------------- index.html--------------------------------------------------------------------- */

/* ---------------------------------------------------------------------portfolio---------------------------------------------------------------------- */

.button-section-item {
  display: inline;
}

.button-section-btn {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  background-color: var(--main-btn-color);
  cursor: pointer;
}
.button-section-btn:hover {
  color: var(--third-text-color);
  background-color: var(--second-btn-color);
}

.main-section-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-text-color);
}

.main-section-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}
/* portfolio */

/*------------------ main------------------- */

/*---------------------------------------------------------- footer----------------------------------------------------------------------- */
.footer {
  width: 1600px;
  height: 250px;
  background-color: var(--background-color);
  display: flex;
  align-items: center;
}
.addres {
  font-style: normal;
  padding-left: 215px;
}

.mainlogo-footer {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-logo-color);
  margin-bottom: 20px;
}

.address-item:not(:last-child) {
  margin-bottom: 10px;
}

.addres-link-1 {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71px;
  letter-spacing: 0.03em;
  color: var(--footer-color-contact1);
}
.addres-link-2 {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-color-contact2);
}

.addres-link-1:hover {
  color: var(--header-text-color-third);
}
.addres-link-2:hover {
  color: var(--header-text-color-third);
}
/*------------------ footer------------------- */
